.container {
  max-width: 1534px;
  margin: 0 auto;
  padding: 15px;
}

@media (min-width: 641px) {
  .container {
    padding: 0 32px;
  }
}

@media (min-width: 767px) {
  .card {
    margin: 0 0 16px;
  }
}

@media (min-width: 769px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  .col {
    display: flex;
    width: 50%;
    padding: 0 16px;
  }
}

@media (min-width: 1025px) {
  .col {
    width: 33.333%;
  }
}

@media (min-width: 1281px) {
  .col {
    width: 25%;
  }
}

.card {
  transition: transform .15s ease-in-out,border-color .15s ease-in-out;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid rgba(25,25,28,0.2);
  cursor: pointer;
  padding: 0 0 12px;
  margin: 0 0 32px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}
